@media screen and (max-width: 992px) {
	#neon {
		display:none;
	}
	#airport {
		display: none;
	}

	#flowers {
		display:none;
	}

	}

@media screen and (max-width: 765px) {
    #wheel {
        display: none;
    }
    #cookies {
    	display: none;
    }
}

#garden { 
	margin-top: 8%;
	margin-bottom: 2%;
}

#cookies {
	margin-top: 2%;
}

#flowers {
	margin-top: 2%;
}

#basics1 {
	font-family: 'Amatic SC', cursive; 
	text-decoration: underline;
}

#neon {
	margin-bottom: 2%;
	overflow: hidden;
}

li{
	list-style: none;
}